.CurrentConditions {
  font-size: 1.5em;
  padding: 5px 0;
  margin-bottom: 10px;
}

.CurrentConditions-location {
  font-size: 1.5em;
}

.CurrentConditions-row2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /*300px 200px;*/
}

.CurrentConditions-icon-and-temp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  color: #171717;
  height: 100%;
}

.CurrentConditions-icon {
  height: 100px;
  transform: translate(0,10px);
}

.CurrentConditions-temp {
  font-size: 100px;
  /* transform: translate(0,-15px); */
}
.CurrentConditions-temp-units {
  font-size: 25px;
  transform: translate(0,21px);
}
