.CurrentConditions {
  font-size: 1.5em;
  padding: 5px 0;
  margin-bottom: 10px;
}

.CurrentConditions-location {
  font-size: 1.5em;
}

.CurrentConditions-row2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /*300px 200px;*/
}

.CurrentConditions-icon-temp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  color: #171717;
  height: 100%;
}

.CurrentConditions-icon-temp img {
  height: 100%;
}

.CurrentConditions-temp {
  font-size: 3.2em;
  transform: translate(0,-10px);
}
